.main-bg {
    display: grid;
    background-size: auto;
    background-image: url(https://raw.githubusercontent.com/RenT-28/crimson-records/refs/heads/main/mediastore/mainbg.png);
    background-repeat: no-repeat;

}

.main-text {
    display: grid;
    align-items: center;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 1.25vw;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.page-text {
    display: grid;
    color: rgb(255, 255, 255);
    font-size: 1vw;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: absolute;
    bottom:450px
}