.main-bg {
    display: grid;
    background-size: auto;
    background-image: url(https://raw.githubusercontent.com/RenT-28/crimson-records/refs/heads/main/mediastore/mainbg.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    overflow-x: hidden

}

.main-text {
    display: grid;
    align-items: center;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.page-text {
    display: grid;
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    bottom:450px;
    text-align: center;
}

.button { 
    background-color: #c71212; 
    border: none; 
    color: white; 
    width: 100px;
    height: 20px;
    padding: 15px 34px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 20px; 
    cursor: pointer; 
}

.dlcontainer {
    display: grid;
    height: 100px;
    grid-template-columns: repeat(1, 1fr);
    justify-content: space-between;
    text-align: center;
  }
.dlcontainer > div {
    width: auto;
}